{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'randomfood/detail.css' %}" />
    <title>Welcome to Random_food</title>
</head>
<body>
<center>
<div class="head_div">
<h1>{{menu}}({{cal}}kCals)</h1>
</div>
<br><br><br><br> 

<div class="button_div">
<h1 class="button"><u>Not Satisfy?</u></h1>

<form>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="TRY AGAIN!">
</form>

<form action="{% url 'randomfood:fill_detail'%}">
<input type="submit" value="Go Back!" />
</form>

</div>

</body>
</html>
