{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'randomfood/edit.css' %}" />
    <title>Edit lists of menu</title>
</head>
<body>
<center>
<div class="head_div">
<h1><u>Edit List</u></h1>
</div>
<br><br><br><br>
</div>

<div class="button_div">
<h1><u>Choose one to edit</u></h1>
<form  action="{% url 'randomfood:edit_option' %}" method="post">
{% csrf_token %}
{% for food in lists %}
<input type="radio" name="type" value="{{food.id}}" required/>{{food.food_text}}<br>
{% endfor %}<br><br>
<input type="submit" value="Edit">
</form>
<form>
<INPUT TYPE="button" onClick="history.go(-1)" VALUE="Back">
</form>
</div>
</body>
</html>
