{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'randomfood/fill_data.css' %}" />
    <title>Fill the information</title>
</head>
<body>
<center>
<div class="head_div">
<h1>Good food, good health.</h1>
</div>
<br><br><br><br> 
    
<div align="left" class="button_div">
<h1 class="button"><u>Choose one</u></h1>
<form  action="{% url 'randomfood:random_food_by_type' %}" method="post">
{% csrf_token %}
{% for food in lists %}
<input id="choice" type="radio" name="type" value="{{food.id}}" required/>{{food.food_text}}<br>
{% endfor %}<br><br>
<center>
<input id="submit" type="submit" value="Choose" >

</form>
<h1 class="button"><u>Click to Edit</u></h1>
<form  action="{% url 'randomfood:edit_list' %}">
<input id="submit" type="submit" value="Edit" >
</form>
</div>

</body>
</html>
