{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'randomfood/home.css' %}" />
    <title>Welcome to Random_food</title>
</head>
<body>
<center>
<div class="head_div">
<h1>Don't know what to eat?</h1>
</div>
<br><br><br><br> 

<div class="button_div">
<h1 class="button">Just click</h1>

<form id="button_box" action="{% url 'randomfood:fill_detail' %}">
<input type="submit" value="Just Click">
</form>
</div>

</body>
</html>
