{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'randomfood/edit.css' %}" />
    <title>Choose menu to edit</title>
</head>
<body>
<center>
<div class="head_div">
<h1><u>Select to delete</u></h1>
</div>
<br><br><br><br> 

<div align="left" class="button_div">
<center>
<h1 class="button"><u>{{food_type_text}}</u></h1>
</center>
<form action="{% url 'randomfood:del_list' food_id %}" method="post">
{% csrf_token %}
{% for menu in menu_set %}
<input type="radio" name="menu_id" value={{menu.id}} required/>{{menu.food_name}} ({{menu.food_cal}} Kcal) <br>
{% endfor %}<br><br>
<input type="submit" value="Delete" >
</form>
<center>
<h1>Or add new one</h1>
</center>

<form action="{% url 'randomfood:add_list' food_id %}" method="post">
{% csrf_token %}
ชื่ออาหาร  <input type="text" name="menu_name" required/><br>
ปริมาณแคลลอรี่  <input type="number" name="cal" required/><br><br>
<input type="submit" value="Add">
</form>
<center>
<form action="{% url 'randomfood:edit_list'%}">
<input type="submit" value="Go Back!" >
</form>


</div>

</body>
</html>
