h1 {
 text-align: center;
 color:#FFFFFF; 
}
h1.button{
    color:black;
}
div.head_div{
    width:80%;
    background-color:gray;
    border: 5px double black;
    padding:10;   
}
div.button_div{
    background-color:#fffce2;
    width:30%;
    border: 5px double black;
    padding:10;   
}

body {
    background: url("images/3.jpg");
    background-size: cover;    
}