h1{
   color:red;
        
}

div.head_div{
    width:80%;
    background-color:white;
    border: 5px double black;
    padding:10;   
}
div.button_div{
    background-color:white;
    width:30%;
    border: 5px double black;
    padding:10;   
}

body {
    background: url("images/3.jpg");
    background-size: cover;    
}